<!-- =========== Start of Navigation (main menu) ============ -->
<header class="navbar navbar-expand-lg navbar-dark position-fixed">
  <span class="logo-holder">
    <a href="index-2.html" class="brand-logo"
      ><img src="img/brand-logo.png" alt="brand-logo"
    /></a>
  </span>

  <div class="container">
    <div class="navbar-inner">
      <nav
        class="flex-row d-lg-flex justify-content-lg-end align-items-lg-center"
      >
        <ul class="navbar-nav" id="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#!"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Home
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="index-2.html">Home-1</a></li>
              <li><a class="dropdown-item" href="home-2.html">Home-2</a></li>
              <li><a class="dropdown-item" href="home-3.html">Home-3</a></li>
              <li><a class="dropdown-item" href="home-4.html">Home-4</a></li>
              <li><a class="dropdown-item" href="home-5.html">Home-5</a></li>
              <li><a class="dropdown-item" href="home-6.html">Home-6</a></li>
              <li><a class="dropdown-item" href="home-7.html">Home-7</a></li>
              <li><a class="dropdown-item" href="home-8.html">Home-8</a></li>
              <li><a class="dropdown-item" href="home-9.html">Home-9</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#story">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#!"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Pages
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="about.html">About Me/Us</a>
              </li>
              <li>
                <a class="dropdown-item" href="services.html">Services</a>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Portfolio</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="portfolio-grid.html"
                      >Portfolio Grid</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="portfolio-masonry.html"
                      >Portfolio Masonry</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="portfolio-masonry-full.html"
                      >Portfolio Masonry Full</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="portfolio-masonry-full-unequal.html"
                      >Portfolio Masonry Unequal</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="portfolio-details-1.html"
                      >Portfolio Details 1</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="portfolio-details-2.html"
                      >Portfolio Details 2</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="portfolio-details-3.html"
                      >Portfolio Details 3</a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Blog Pages</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="blog-full.html">Blog Full</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="blog-sidebar-right.html"
                      >Blog Sidebar Right</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="blog-sidebar-left.html"
                      >Blog Sidebar left</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="blog-details-full.html"
                      >Blog Details Full</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="blog-details-sidebar-right.html"
                      >Blog Details Sidebar Right</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="blog-details-sidebar-left.html"
                      >Blog Details Sidebar left</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item" href="coming-soon.html">Coming Soon</a>
              </li>
              <li><a class="dropdown-item" href="404.html">404 Page</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <button class="offcanvas-toggler action action--open" aria-label="Open Menu">
    <span class="offcanvas-toggler-icon"></span>
  </button>
</header>
<!-- =========== End of Navigation (main menu)  ============ -->
